.box1 {
    width: 200px;
    height: 200px;
    margin: 50px;
    background: rgb(100, 100, 100);
    transition: 500ms background ease-in 500ms,
        1000ms transform cubic-bezier(0.5, -0.48, 0.59, 1.44);
}
.box1:hover {
    background: rgb(0, 255, 255);
    transform: rotate(180deg);
}

.strips {
    width: 100vw;
    height: 200px;
}
.strips:hover .strip {
    width: 100%;
}
.strip {
    width: 200px;
    height: 50px;
    transition-duration: 1000ms;
    transition-property: width;
    display: flex;
    justify-content: center;
    align-items: center;
}
.s1 {
    background: rgb(0, 100, 100);
    transition-timing-function: linear;
}
.s2 {
    background: rgb(0, 140, 140);
    transition-timing-function: ease-in;
}
.s3 {
    background: rgb(0, 180, 180);
    transition-timing-function: ease-out;
}
.s4 {
    background: rgb(0, 220, 220);
    transition-timing-function: ease-in-out;
}

.box {
    height: 100px;
    width: 100px;
    padding: 20px;
    border: 10px solid black;
    margin: 50px;
    background-color: darkgrey;
    color: black;
    font-weight: bold;
}
